<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Product Page</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
    />
    <link rel="stylesheet" href="css/fontawesome.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/templatemo-style.css" />
  </head>

  <body id="reportsPage">
    <!-- Header -->
    {{> header pageCode=pageCode}}

    <!-- Content -->
    {{{body}}}

    <!-- Footer -->
    {{> footer}}

    <!-- Scripts -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
      $(function () { $(".tm-product-name").on("click", function () {
      window.location.href = "edit-product.html"; }); });
    </script>
  </body>
</html>